.footer {
    width: 100%;
    background-color: #080e1b;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;

    .footer-logo {
        img {
            height: 40px;
            cursor: pointer;
        }
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;

        a {
            text-decoration: none;
            color: white;
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }
    }
}